# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/

# env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db
